header {
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: dodgerblue;
    margin: auto;
    padding: 1%;
}
#linkedin{
    margin: auto;
    float: right;
    font-size: large;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h2{
    background-color: royalblue;
    font-style: italic;
}
h4{
    background-color: powderblue;
    margin: auto;
}
section{
    border-style: solid;
    border-color: black;
    padding: 2%;
}